@use '../../scss/' as *;


.table{
    margin-top: 2rem;
    border-spacing: 0;
    width: 100%;
    min-width: 400px;
    thead{
        background-color:var(--mainBg);
        color: var(--txtColor);
    }
    tr{
        text-align: left;
        cursor: pointer;
        transition: all 0.2s ease;
        color: var(--txtColor);
    }   
    th,td{
        padding:15px 10px;
        text-transform: capitalize;
    }

    tbody>tr:hover{
        background-color:var(--mainColor);
        color: var(--txtColor-white);
    }
}
.table-page{
    @include flex(flex-end,center);
    width: 100%;
    margin-top: 1rem;
   .page{
    background-color:var(--mainBg);
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    color: var(--txtColor);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s linear;
    &:hover{
        background-color: var(--mainColor);
        color: var(--txtColor-white);
    }
   }
}